<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h4 class="card-title">{{ nombreSeccion   | titlecase }}</h4>
      <h5 class="card-subtitle">Lista de {{ nombreSeccion  }}.</h5>
      <div class="d-flex mb-3 mt-3">
        <input type="text" class="form-control w-25" placeholder="Buscar por nombre" [(ngModel)]='searchTerm'>
        <button class="btn btn-primary ms-auto" (click)="chequeoApertura(1,editDatoModal, null)">Agregar {{ nombreSeccion  }}</button>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-striped mb-0 no-wrap align-middle">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Categoria</th>
    

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of filterArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
       
            
              <td class="text-center">
                {{dato.id}}
              </td>

              <td>{{ dato.descripcion }}</td>
         
              <td>{{ dato.id_tipo_ganado }}</td>
           
     
              <td>
                <a href="javascript: void(0);" (click)="chequeoApertura(3,editDatoModal, dato)" class="link me-2"
                  placement="top" ngbTooltip="Edit">
                  <!-- <i class="far fa-edit"></i> -->
                  <i-feather name="edit-2" class="feather-sm"></i-feather>
                </a>
                <a href="javascript: void(0);" class="link" (click)="deleteDato(2,dato.id)" placement="top"
                  ngbTooltip="Delete">
                  <i-feather name="trash-2" class="feather-sm"></i-feather>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filterArray.length"></ngb-pagination>
      </div>
    </div>
  </div>
</div>


<ng-template #editDatoModal let-modal>

  <div class="modal-header">

    <h5 class="modal-title" id="editUserLabel">Agregar</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
    </button>

  </div>

  <div class="modal-body">

    <form [formGroup]="editDato" (ngSubmit)="onSubmit()">



      <div class="mb-3 row">
        <label for="descripcion" class="col-sm-4 col-form-label">Descripcion</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            id="descripcion"
            [ngClass]="{ 'is-invalid': submitted && f['descripcion'].errors }"
          />
          <div *ngIf="submitted && f['descripcion'].errors" class="invalid-feedback">
            <div *ngIf="f['descripcion'].errors['required']">Descripcion es obligatorio</div>
      
          </div>
        </div>
      </div>




      <div class="mb-3 row">
        <label for="position" class="col-sm-4 col-form-label">Tipo de Ganado</label>
        <div class="col-sm-8">


          <select name="id_tipo_ganado" class="form-select mr-sm-2" formControlName="id_tipo_ganado" id="id_tipo_ganado"
          [ngClass]="{ 'is-invalid': submitted && f['id_tipo_ganado'].errors }"  >
            <option value="-1" [ngValue]="-1">Seleccione...</option>
            <option  *ngFor="let tt of tipos_ganado" 
            [value]="tt.id" [ngValue]="tt.id"  >
          {{tt.descripcion}}
            </option>

            
          </select>  




          <div
            *ngIf="submitted && f['id_tipo_ganado'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['id_tipo_ganado'].errors['required']">
              Tipo ganado es obligatorio
            </div>
          </div>
        </div>
      </div>


      <div class="mb-3 row">
        <label for="cod_snig" class="col-sm-4 col-form-label">Codigo snig</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="cod_snig"
            id="cod_snig"
            [ngClass]="{ 'is-invalid': submitted && f['cod_snig'].errors }"
          />
          <div *ngIf="submitted && f['cod_snig'].errors" class="invalid-feedback">
            <div *ngIf="f['cod_snig'].errors['required']">Codigo snig es obligatorio</div>
      
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="abreviacion" class="col-sm-4 col-form-label">Abreviación</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="abreviacion"
            id="abreviacion"
            [ngClass]="{ 'is-invalid': submitted && f['abreviacion'].errors }"
          />
          <div *ngIf="submitted && f['abreviacion'].errors" class="invalid-feedback">
            <div *ngIf="f['abreviacion'].errors['required']">Abreviacion es obligatorio</div>
      
          </div>
        </div>
      </div>



      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeBtnClick()"
        >
          Cerrar
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="editDato.invalid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>