<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h4 class="card-title">{{ nombreSeccion   | titlecase }}</h4>
      <h5 class="card-subtitle">Lista de {{ nombreSeccion  }}.</h5>
      <div class="d-flex mb-3 mt-3">
        <input type="text" class="form-control w-25" placeholder="Buscar por nombre" [(ngModel)]='searchTerm'>
        <button class="btn btn-primary ms-auto" (click)="chequeoApertura(1,editDatoModal, null)">Agregar {{ nombreSeccion  }}</button>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-striped mb-0 no-wrap align-middle">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">Observacion</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cantidad mm</th>
       
         

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of filterArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
       
            
              <td class="text-center">
                {{dato.id}}
              </td>
              <td>{{ dato.observacion }}</td>
              <td>{{ dato.fecha  | date :'fullDate'}}</td>
              <td>{{ dato.cantidad_mm }}</td>
                        
     
              <td>
                <a href="javascript: void(0);" (click)="chequeoApertura(3,editDatoModal, dato)" class="link me-2"
                  placement="top" ngbTooltip="Edit">
                  <!-- <i class="far fa-edit"></i> -->
                  <i-feather name="edit-2" class="feather-sm"></i-feather>
                </a>
                <a href="javascript: void(0);" class="link" (click)="deleteDato(3,dato.id)" placement="top"
                  ngbTooltip="Delete">
                  <i-feather name="trash-2" class="feather-sm"></i-feather>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filterArray.length"></ngb-pagination>
      </div>
    </div>
  </div>
</div>


<ng-template #editDatoModal let-modal>

  <div class="modal-header">

    <h5 class="modal-title" id="editUserLabel">Agregar</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
    </button>

  </div>

  <div class="modal-body">

    <form [formGroup]="editDato" (ngSubmit)="onSubmit()">



      <div class="mb-3 row">
        <label for="observacion" class="col-sm-4 col-form-label">Observacion</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="observacion"
            id="observacion"
            [ngClass]="{ 'is-invalid': submitted && f['observacion'].errors }"
          />
          <div *ngIf="submitted && f['observacion'].errors" class="invalid-feedback">
            <div *ngIf="f['observacion'].errors['required']">Observacion es obligatorio</div>
      
          </div>
        </div>
      </div>





      <div class="mb-3 row">
        <label for="fecha" class="col-sm-4 col-form-label">Fecha</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            formControlName="fecha"
            id="fecha"
            [ngClass]="{ 'is-invalid': submitted && f['fecha'].errors }"
          />
          <div
            *ngIf="submitted && f['fecha'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['fecha'].errors['required']">
              La fecha es obligatoria
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="cantidad_mm" class="col-sm-4 col-form-label">Cantidad mm</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="cantidad_mm"
            id="cantidad_mm"
            [ngClass]="{ 'is-invalid': submitted && f['cantidad_mm'].errors }"
          />
          <div *ngIf="submitted && f['cantidad_mm'].errors" class="invalid-feedback">
            <div *ngIf="f['cantidad_mm'].errors['required']">Cantidad es obligatorio</div>
      
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeBtnClick()"
        >
          Cerrar
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="editDato.invalid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>