<div class="row">
   
        <!-- You can find this in the dashboard-component -->
        <app-project-counter></app-project-counter>
       

</div>


<div class="row">
                <div class="col-lg-6 d-flex align-items-stretch">
                <!-- ==================================-->
                <!-- ========== Basic Alert ========== -->
                <!-- ==================================-->
                <div class="card w-100">
                        <app-clima></app-clima>
                        
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-stretch">
                <!-- ==================================-->
                <!-- ======== Closable Alert ========= -->
                <!-- ==================================-->
                <div class="card w-100">
                        <app-subo-ganado-rapido></app-subo-ganado-rapido>
                </div>
              </div>


                

                <!-- column -->
                <div class="col-lg-12">
                  
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Ganado por deposito - sector</h4>
                      <h5 class="card-subtitle">Animales disponibles para visualizar o tomar acciones por animal</h5>
               
                      

     
                                <app-visit-separation></app-visit-separation>
                
    
                   
                  </div>
                
              </div>
            </div>
   
   
              <!-- You can find this in the dashboard-component -->
              <app-preciosganado></app-preciosganado>
             
      
 
            

              <app-vista-ganado-google-maps></app-vista-ganado-google-maps>

