<ng-scrollbar class="card"  style="height: 504px;">
    <div class="card-body">
        <div class="d-flex">
            <h4 class="card-title"><span class="lstick"></span>Activity</h4>
        </div>
    </div>
    <div class="activity-box">
        <div class="card-body">
            <!-- Activity item-->
            <div class="activity-item d-flex mb-4">
                <div class="me-3"><img src="assets/images/users/user2.jpg" class="rounded-circle" alt="user" width="50" /></div>
                <div class="mt-2">
                    <h5 class="mb-0 font-medium">Mark Freeman <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span></h5>
                    <h6 class="text-muted">uploaded this file </h6>
                    <table class="table align-middle table-borderless  mb-0">
                        <tr>
                            <td class="me-2 "><img src="assets/images/icon/zip.png" alt="user" /></td>
                            <td class="">
                                <h5 class="mb-0 font-medium ">Homepage.zip</h5>
                                <h6>54 MB</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Activity item-->
            <!-- Activity item-->
            <div class="activity-item d-flex mb-4">
                <div class="me-3"><img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user" width="50" /></div>
                <div class="mt-2">
                    <h5 class="mb-1 font-medium">Emma Smith <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span></h5>
                    <h6 class="text-muted">joined projectname, and invited <a href="javascript:void(0)">@maxcage, @maxcage, @maxcage, @maxcage, @maxcage,+3</a></h6>
                    <span class="image-list d-flex align-items-center mt-3">
                        <a href="javascript:void(0)"><img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user" width="50"></a>
                        <a href="javascript:void(0)"><img src="assets/images/users/user2.jpg" class="rounded-circle popover-icon" alt="user" width="50"></a>
                        <a href="javascript:void(0)"><span class="popover-icon round d-flex align-items-center justify-content-center rounded-circle text-white bg-warning">C</span></a>
                    <a href="javascript:void(0)"><span class="popover-icon round d-flex align-items-center justify-content-center rounded-circle text-white bg-danger">D</span></a>
                    <a href="javascript:void(0)">+3</a>
                    </span>
                </div>
            </div>
            <!-- Activity item-->
            <!-- Activity item-->
            <div class="activity-item d-flex mb-4">
                <div class="me-3"><img src="assets/images/users/user4.jpg" class="rounded-circle" alt="user" width="50" /></div>
                <div class="mt-2">
                    <h5 class="mb-0 font-medium">David R. Jones  <span class="text-muted fs-3 ms-2">| &nbsp; 9:30 PM, July 13th</span></h5>
                    <h6 class="text-muted">uploaded this file </h6>
                    <span>
                        <a href="javascript:void(0)" class="me-2"><img src="assets/images/big/img1.jpg" alt="user" width="60"></a>
                        <a href="javascript:void(0)" class="me-2"><img src="assets/images/big/img2.jpg" alt="user" width="60"></a>
                    </span>
                </div>
            </div>
            <!-- Activity item-->
            <!-- Activity item-->
            <div class="activity-item d-flex mb-4">
                <div class="me-3"><img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user" width="50" /></div>
                <div class="mt-2">
                    <h5 class="mb-1 font-medium">David R. Jones <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span></h5>
                    <h6 class="text-muted">Commented on<a href="javascript:void(0)">Test Project</a></h6>
                    <p class="mb-0">It has survived not only five centuries, but also the leap into unchanged.</p>
                </div>
            </div>
            <!-- Activity item-->
        </div>
    </div>
</ng-scrollbar>