<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h4 class="card-title">{{ nombreSeccion   | titlecase }}</h4>
      <h5 class="card-subtitle">Lista de {{ nombreSeccion  }}.</h5>
      <div class="d-flex mb-3 mt-3">
        <input type="text" class="form-control w-25" placeholder="Buscar por nombre" [(ngModel)]='searchTerm'>
        <button class="btn btn-primary ms-auto" (click)="chequeoApertura(1,editDatoModal, null)">Agregar {{ nombreSeccion  }}</button>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-striped mb-0 no-wrap align-middle">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha siembra</th>
              <th scope="col">Fecha pastoreo</th>
              <th scope="col">Pastura</th>
              <th scope="col">Potrero</th>           
         

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of filterArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
       
            
              <td class="text-center">
                {{dato.id}}
              </td>

              <td>{{ dato.descripcion }}</td>
         
              <td>{{ dato.fecha_siembra  | date :'fullDate'}}</td>
              <td>{{ dato.fecha_pastoreo  | date :'fullDate' }}</td>
              <td>{{ dato.id_pastura }}</td>
              <td>{{ dato.id_sector }}</td>                   
     
              <td>
                <a href="javascript: void(0);" (click)="chequeoApertura(3,editDatoModal, dato)" class="link me-2"
                  placement="top" ngbTooltip="Edit">
                  <!-- <i class="far fa-edit"></i> -->
                  <i-feather name="edit-2" class="feather-sm"></i-feather>
                </a>
                <a href="javascript: void(0);" class="link" (click)="deleteDato(3,dato.id)" placement="top"
                  ngbTooltip="Delete">
                  <i-feather name="trash-2" class="feather-sm"></i-feather>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filterArray.length"></ngb-pagination>
      </div>
    </div>
  </div>
</div>


<ng-template #editDatoModal let-modal>

  <div class="modal-header">

    <h5 class="modal-title" id="editUserLabel">Agregar</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
    </button>

  </div>

  <div class="modal-body">

    <form [formGroup]="editDato" (ngSubmit)="onSubmit()">



      <div class="mb-3 row">
        <label for="descripcion" class="col-sm-4 col-form-label">Descripcion</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            id="descripcion"
            [ngClass]="{ 'is-invalid': submitted && f['descripcion'].errors }"
          />
          <div *ngIf="submitted && f['descripcion'].errors" class="invalid-feedback">
            <div *ngIf="f['descripcion'].errors['required']">Descripcion es obligatorio</div>
      
          </div>
        </div>
      </div>


      <div class="mb-3 row">
        <label for="observaciones" class="col-sm-4 col-form-label">Observaciones</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="observaciones"
            id="observaciones"
            [ngClass]="{ 'is-invalid': submitted && f['observaciones'].errors }"
          />
          <div *ngIf="submitted && f['observaciones'].errors" class="invalid-feedback">
            <div *ngIf="f['observaciones'].errors['required']">Observaciones es obligatorio</div>
      
          </div>
        </div>
      </div>


      <div class="mb-3 row">
        <label for="fecha_siembra" class="col-sm-4 col-form-label">Fecha siembra</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            formControlName="fecha_siembra"
            id="fecha_siembra"
            [ngClass]="{ 'is-invalid': submitted && f['fecha_siembra'].errors }"
          />
          <div
            *ngIf="submitted && f['fecha_siembra'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['fecha_siembra'].errors['required']">
              La fecha de siembra es obligatoria
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="fecha_pastoreo" class="col-sm-4 col-form-label">Fecha pastoreo</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            formControlName="fecha_pastoreo"
    
            id="fecha_pastoreo"
            [ngClass]="{ 'is-invalid': submitted && f['fecha_pastoreo'].errors }"
          />
          <div
            *ngIf="submitted && f['fecha_pastoreo'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['fecha_pastoreo'].errors['required']">
              La fecha pastoreo es obligatoria
            </div>
          </div>
        </div>
      </div>     
      
      <div class="mb-3 row">
        <label for="fecha_estimada_fin_pastoreo" class="col-sm-4 col-form-label">Fecha estimada fin pastoreo</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            formControlName="fecha_estimada_fin_pastoreo"
          
            id="fecha_estimada_fin_pastoreo"
            [ngClass]="{ 'is-invalid': submitted && f['fecha_estimada_fin_pastoreo'].errors }"
          />
          <div
            *ngIf="submitted && f['fecha_estimada_fin_pastoreo'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['fecha_estimada_fin_pastoreo'].errors['required']">
              La fecha fin estimada de pastoreo es obligatoria
            </div>
          </div>
        </div>
      </div>    


      <div class="mb-3 row">
        <label for="fecha_fin_pastoreo" class="col-sm-4 col-form-label">Fecha fin pastoreo</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            formControlName="fecha_fin_pastoreo"
          
            id="fecha_fin_pastoreo"
            [ngClass]="{ 'is-invalid': submitted && f['fecha_fin_pastoreo'].errors }"
          />
          <div
            *ngIf="submitted && f['fecha_fin_pastoreo'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['fecha_fin_pastoreo'].errors['required']">
              La fecha fin estimada de pastoreo es obligatoria
            </div>
          </div>
        </div>
      </div>    

      <div class="mb-3 row">
        <label for="position" class="col-sm-4 col-form-label">Pastura</label>
        <div class="col-sm-8">


          <select name="id_pastura" class="form-select mr-sm-2" formControlName="id_pastura" id="id_pastura"
          [ngClass]="{ 'is-invalid': submitted && f['id_pastura'].errors }"  >
            <option value="-1" [ngValue]="-1">Seleccione...</option>
            <option  *ngFor="let tt of pasturas" 
            [value]="tt.id" [ngValue]="tt.id"  >
          {{tt.nombre}}
            </option>

            
          </select>  


          <div
            *ngIf="submitted && f['id_pastura'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['id_pastura'].errors['required']">
              Pastura es obligatorio
            </div>
          </div>
        </div>
      </div>

    
      <div class="mb-3 row">
        <label for="position" class="col-sm-4 col-form-label">Potrero</label>
        <div class="col-sm-8">


          <select name="id_sector" class="form-select mr-sm-2" formControlName="id_sector" id="id_sector"
          [ngClass]="{ 'is-invalid': submitted && f['id_sector'].errors }"  >
            <option value="-1" [ngValue]="-1">Seleccione...</option>
            <option  *ngFor="let tt of sectores" 
            [value]="tt.id" [ngValue]="tt.id"  >
          {{tt.nombre}}
            </option>

            
          </select>  


          <div
            *ngIf="submitted && f['id_sector'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['id_sector'].errors['required']">
              Potrero es obligatorio
            </div>
          </div>
        </div>
      </div>




      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeBtnClick()"
        >
          Cerrar
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="editDato.invalid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>