<div class="row">

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick"></span><img src="assets/images/icon/dolar.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h2 class="mt-0">Cotización Dolar</h2>
                        <h6 class="text-muted mt-2 mb-0">USD 39.05 </h6>
          
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick"></span><img src="assets/images/icon/cabezavaca.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h2 class="mt-0">Vaca invernada</h2>
                        <h6 class="text-muted mt-2 mb-0">USD {{this.parametros_reg.precio_vaca_invernada_cuarta_balanza}} <strong>4ta.</strong></h6>
                        <h6 class="text-muted mt-2 mb-0">USD {{this.parametros_reg.precio_vaca_invernada_pie}}  <strong>Pie</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick"></span><img src="assets/images/icon/cabezavaca.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h2 class="mt-0">Novillo</h2>
                        <h6 class="text-muted mt-2 mb-0">USD {{this.parametros_reg.precio_novillo_cuarta_balanza}} <strong>4ta.</strong></h6>
                        <h6 class="text-muted mt-2 mb-0">USD {{this.parametros_reg.precio_novillo_pie}} <strong>Pie</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick"></span><img src="assets/images/icon/cabezavaca.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h2 class="mt-0">Ternero exp. pie</h2>
                        <h6 class="text-muted mt-2 mb-0">-<strong>4ta.</strong></h6>
                        <h6 class="text-muted mt-2 mb-0">USD {{this.parametros_reg.precio_ternero_exportacion_pie}} <strong>Pie</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>