<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <span class="lstick"></span>Projects of the Month
    </h4>
    <div class="table-responsive">
      <table class="table align-middle mb-0 text-nowrap">
        <thead>
          <tr>
            <th>Assigned</th>
            <th>Name</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span
                  ><img
                    src="assets/images/users/user1.jpg"
                    alt="user"
                    width="50"
                    class="rounded-circle"
                /></span>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">Sunil Joshi</h5>
                  <small class="text-muted">Web Designer</small>
                </div>
              </div>
            </td>
            <td class="fs-3 fw-normal">Elite Admin</td>
            <td><span class="badge bg-success rounded">Low</span></td>
          </tr>
          <tr class="active">
            <td>
              <div class="d-flex align-items-center">
                <span
                  ><img
                    src="assets/images/users/user2.jpg"
                    alt="user"
                    width="50"
                    class="rounded-circle"
                /></span>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">Andrew</h5>
                  <small class="text-muted">Project Manager</small>
                </div>
              </div>
            </td>
            <td class="fs-3 fw-normal">Real Homes</td>
            <td><span class="badge bg-info rounded">Medium</span></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span
                  ><img
                    src="assets/images/users/user3.jpg"
                    alt="user"
                    width="50"
                    class="rounded-circle"
                /></span>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">Bhavesh patel</h5>
                  <small class="text-muted">Developer</small>
                </div>
              </div>
            </td>
            <td class="fs-3 fw-normal">MedicalPro Theme</td>
            <td><span class="badge bg-primary rounded">High</span></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span
                  ><img
                    src="assets/images/users/user4.jpg"
                    alt="user"
                    width="50"
                    class="rounded-circle"
                /></span>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">Nirav Joshi</h5>
                  <small class="text-muted">Frontend Eng</small>
                </div>
              </div>
            </td>
            <td class="fs-3 fw-normal">Elite Admin</td>
            <td><span class="badge bg-danger rounded">Low</span></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span
                  ><img
                    src="assets/images/users/user5.jpg"
                    alt="user"
                    width="50"
                    class="rounded-circle"
                /></span>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">Micheal Doe</h5>
                  <small class="text-muted">Content Writer</small>
                </div>
              </div>
            </td>
            <td class="fs-3 fw-normal">Helping Hands</td>
            <td><span class="badge bg-success rounded">High</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
